{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-12">
    <h3 class="my-5">Home Page</h3>
    <div class="my-5">
      Current date = {{data1}}<br>
      date with time = {{data2}}<br>
      status = {{data3}}<br>
    </div>   

    {% comment %} card code  {% endcomment %}
    
    <div class="row">
      {% for name, counts in data4.items %}      
      <div class="col-sm-4 my-2">
        <div class="card" style="border-radius: 50px;">
          <div class="card-body">
            <h1>{{name}}</h1>
            <div class="d-flex justify-content-between" >
              <div style=" width: 500px; height: 200px;" class="my-5">
                <h5>Idle Time : {{counts.PIdle}}</h5>
                <h5>Pro Time : {{counts.PPRO}}</h5>
                <h5>Unpro Time : {{counts.PUNPRO}}</h5>
                <h5>LogIn Time: {{counts.login}}</h5>
                <h5>LogOut Time: {{counts.logout}}</h5>
                </div>
                <div  style="width: 500px; height: 200px;" id="chart{{ name }}"></div>
              </div>
              <a href={% url 'description' user=name %} class="btn btn-primary">More..</a>
            </div>            
        </div>
      </div> 

      {% comment %} chart script {% endcomment %}

      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script>
        var data = [
          {
            labels: ["Pro", "Unpro", "Idle"],
            values: [{{ counts.PRO }}, {{ counts.UNPRO }}, {{ counts.Idle }}],
            type: "pie",
            hole: 0.5,
            marker: {
              colors: ["#FF6384", "#36A2EB", "#FFCE56"],
            },
            textinfo: 'none', 
          },
        ];

        var layout = {
          title: "{{name}} Chart",
          width: 250,  
          height: 250,
          {% comment %} showlegend: false,  {% endcomment %}
        };

        var config = {
          displayModeBar: false, // Hide the top-right corner options
          responsive: true, // Make the chart responsive
          staticPlot: true, // Disable interactivity like hover and zoom
        };

        Plotly.newPlot("chart{{ name }}", data, layout,config);
      </script>
      {% endfor %}
      
    </div>
</div>

{% endblock content %}

