{% extends 'core/base.html' %}
{% load static %}

{% block contentt%}
<div class="col-sm-7">
        <div class="card">
            <div class="card-body">
                    <h1>{{ user_data.id }}</h1><br>
                    <div class="d-flex justify-content-between" >
                            <div class="my-5">
                                <h4>Idle Time : {{ user_data.PIdle }}</h4>
                                <h4>Pro Time : {{ user_data.PPRO }}</h4>
                                <h4>Unpro Time : {{ user_data.PUNPRO }}</h4>
                                <h4>Login Time : {{ user_data.login }}</h4>
                                <h4>Logout Time : {{ user_data.logout }}</h4>
                            </div>
                            <div id="chart{{ user_data.id }}"></div>
                    </div>
                    <a href={% url 'description' user=user_data.id %} class="btn btn-primary">More..</a>
              </div>    
              <a href={% url 'home' %} class="btn btn-primary">HOME</a>        
        </div>
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var data = [
          {
            labels: ["Pro", "Unpro", "Idle"],
            values: [{{ user_data.PRO  }}, {{ user_data.UNPRO }}, {{ user_data.Idle }}],
            type: "pie",
            hole: 0.5,
            marker: {
              colors: ["#FF6384", "#36A2EB", "#FFCE56"],
            },
          },
        ];

        var layout = {
            title: "{{ user_data.id  }}'s Pie Chart",
            width: 300,  
            height: 300, 

        };

        Plotly.newPlot("chart{{ user_data.id }}", data, layout);
    </script>
    
</div>
{% endblock contentt %}  